.postOfferMainDiv {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 80vh;
  justify-content: space-between;
  font-size: large ;
}

.topSection {
  width: 360px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.postEndButton {
  background-color: #0066ff;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  color: #5663FF;
  height: 50px;
  font-family: Josefin Sans;
  border-radius: 30px 30px 0 0;
}