.offerCardMainDiv {
  margin: 5px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  border-radius: 15px;
  box-shadow: 2px 2px #e3e3e3;
  position: relative;
  
}

.offerCardMainDiv .offerPercent {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: #ffffff;
  padding: 2px;
  border-radius: 5px;
}

.offerCardMainDiv .offerRating {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 2px;
  border-radius: 5px;
}

.offerCardMainDiv .bottomContent {
  bottom: 0;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
  border-radius: 0 0 15px 15px;
}

.offerCardMainDiv .tag {
  background: -webkit-linear-gradient(right, #ff5773, #ff8d48);
  border-radius: 10px;
  padding: 3px;
}