.categoryCardMainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  min-height: 120px;
  border-radius: 15px;
  margin: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Josefin Sans;
  color: white;

}