.categoryCardMainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  min-height: 120px;
  background: linear-gradient(rgba(255, 0, 0, 0.45), rgba(255, 0, 0, 0.45)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/owl1.jpg);
  border-radius: 15px;
  margin: 5px;
}