.customContainer {
  width: 360px;
  height: 650px;
  margin: auto;
  margin-top: 10%;

  background-image: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&w=1000&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(100%);

  -webkit-box-shadow: 10px 10px 14px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 10px 10px 14px -4px rgba(0, 0, 0, 0.42);
  box-shadow: 10px 10px 14px -4px rgba(0, 0, 0, 0.42);

  display: flex;
  flex-direction: column;
}

.signUpformContainer,
.profileContainer {
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
  /* align-content: center; */
  align-items: center;
}

.inputStyle {
  border-radius: 10px !important;
  width: 100% !important;
  font-size: 50px;
}

.customAvatarUpload {
  width: unset !important;
  margin: 0 !important;
}

.customAvatarUpload .ant-upload {
  padding: 0 !important;
  margin-right: 0 !important;
  border-radius: 100px !important;
}

.algnForgot {
  padding-left: 6%;
}

.name-text {
  padding-top: 3%;
}

.userContainer {
  height: 100%;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  /* align-content: center; */
  align-items: center;
  text-align: center;
  margin: auto;
}

.nav-links {
  padding: 60px;
}

.nav-btn {
  margin-top: 20px;
}

/* Offer Card styling */
/* .main-card {
  width: 350px;
  border-radius: 10%;
} */

.cardRating {
  position: absolute;
  top: 2%;
  right: 5%;
  background-color: white;
  border-radius: 5px;
  width: 60px;
  padding-left: 8px;
}

.rateContent {
  font-size: 15px;
  font-weight: bold;
  padding-left: 3px;
  color: black;
}

.offbox {
  width: 60px;
  height: 31px;
  background-color: white;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  color: red;
  font-weight: bold;
  top: 2%;
  left: 5%;
  border-radius: 5px;
  position: absolute;
}

.catTag {
  position: absolute;
  width: 60px;
  background-color: #cc00cc;
  color: white;
  border-radius: 10px;
  text-align: center;
  top: 75%;
  right: 50%;
}

.distTag {
  position: absolute;
  width: 60px;
  background-color: #66ffcc;
  color: white;
  border-radius: 10px;
  text-align: center;
  top: 75%;
  right: 30%;
}
